<!DOCTYPE html>
<html>

<head>
    <title>
        TEST DAPP using GANACHE
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Message Value :
        <%= messagevalue %>
    </h1>
    <form method="POST" action="/"><input type="text" name="messagevalue" placeholder="Enter your message here" />
        <input type="submit" value="Set Message" />
    </form>
</body>

</html>